<div id="header">
    <a href="/">
        <div style="padding-top: 70px; margin-left: 50px">
            <div style="float: left">
                <img src="/images/logo.png" height="170px">
            </div>
            <div style="float: left; padding-top: 35px; margin-left: -45px">
                <div style="font-size: 70px;">elasticsearch.</div>
                <div style="font-size: 40px; margin-top: -10px;">{{ page.cat }}</div>
            </div>
            <div class="clear"></div>
        </div>
    </a>
    <div class="clear"></div>
    <div style="height: 80px; font-size: 34px; padding-top: 30px;">
        {% if page.title_in_header != false %}
        {{ page.title }}
        {% endif %}
    </div>
    <div class="clear"></div>
</div>