<div id="header">
    <a href="/">
        <div style="padding-top: 20px; padding-left: 50px">
            <div style="float: left">
                <img src="/images/logo.png" height="170px">
            </div>
            <div style="float: left; font-size: 70px; padding-top: 40px; margin-left: -45px">
                elasticsearch.
            </div>
        </div>
    </a>
    <div class="clear"></div>
    {% if page.title_in_header == false %}
        <div class="clear" style="margin-top: 70px"></div>
    {% else %}
        <div style="font-size: 36px; height: 80px; left: 250px; position: absolute; top: 135px;">
            {{ page.title }}
        </div>
    {% endif %}
</div>


