<div id="top_left_menu" style="position: absolute; top: 0; left: 0; border: 0;">
    <div class="m_link"><a href="/">Home</a></div>
    <div class="m_link"><a href="/download">Download</a></div>
    <div class="m_link"><a href="/community">Community</a></div>
    <div class="m_link"><a href="/blog">Blog</a></div>
    <div class="m_link"><a href="/videos">Videos</a></div>
    <div class="m_link"><a href="https://github.com/elasticsearch/elasticsearch/wiki">Docs</a></div>
    <div class="m_link"><a href="https://github.com/elasticsearch/elasticsearch/issues">Issues</a></div>
</div>
