<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir="ltr">
<head>
    <title>elasticsearch - {{ page.cat }} - {{ page.title }}</title>
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta name="description" content="elasticsearch" />
    <meta name="keywords" content="elastic, search, cloud, elasticsearch, indexing, lucene, distributed lucene, shay banon" />
    <meta name="author" content="elasticsearch" />

    <link href="http://www.elasticsearch.org/atom.xml" rel="alternate" title="elasticsearch" type="application/atom+xml" />

	  <link rel="stylesheet" type="text/css" href="/scripts/prettify/prettify.css">
    <link rel="stylesheet" type="text/css" href="/styles/reset.css" />
    <link rel="stylesheet" type="text/css" href="/styles/screen.css?1000" />
    <link rel="stylesheet" type="text/css" href="/styles/jquery-ui/ui-lightness/jquery-ui-1.8.9.custom.css">

    <script type="text/javascript" src="/scripts/jquery-1.5.min.js"></script>
    <script type="text/javascript" src="/scripts/jquery-ui-1.8.9.custom.min.js"></script>
    <script type="text/javascript" src="/scripts/jquery.ui.autocomplete.html.js"></script>
    <script type="text/javascript" src="/scripts/jquery.placeholder.js"></script>

    <!-- Analytics -->
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-12395217-2']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
</head>

<body>
    <div id="wrapper">
        <div id="all">
            <div id="search-box"></div>
            {% include header.html %}
            {% if page.title_in_header != false %}
                <h2 class="page_title">{{ page.title }} </h2>
            {% else %}
                <div id="header_spacer"></div>
            {% endif %}
            <div id="content" class="{{ page.cat}}">
                {{ content }}
            </div>
            {% include footer.html %}
        </div>
    </div>
    <a href="http://github.com/elasticsearch"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub" /></a>


    <script type="text/javascript" src="/scripts/prettify/prettify.js"></script>
    <script type="text/javascript">
        prettyPrint();
    </script>

    </script>    
    <script>$('#search-box').load('/search.html');</script>

</body>
</html>
